<h1><%= investment.title %></h1>
<div class="budget-investment-info">
  <%= render "/shared/author_info", resource: investment %>

  <span class="bullet">&nbsp;&bull;&nbsp;</span>
  <%= l investment.created_at.to_date %>
  <span class="bullet">&nbsp;&bull;&nbsp;</span>
  <%= investment.heading.name %>
  <span class="bullet">&nbsp;&bull;&nbsp;</span>
  <% if local_assigns[:preview].nil? %>
    <span class="js-flag-actions">
      <%= render "budgets/investments/flag_actions", investment: investment %>
    </span>
  <% end %>
</div>

<br>

<%= render_image(investment.image, :large, false) if investment.image.present? %>
<div class="clear margin-bottom"></div>
<hr>

<strong><%= t("budgets.investments.show.petition") %></strong>
<p><%= investment.petition %></p>

<strong><%= t("budgets.investments.show.description") %></strong>
<%= auto_link_already_sanitized_html wysiwyg(investment.description) %>

<% if investment.summary.present? %>
  <strong><%= t("budgets.investments.show.summary") %></strong>
  <%= auto_link_already_sanitized_html wysiwyg(investment.summary) %>
<% end %>

<% if feature?(:map) && map_location_available?(@investment.map_location) %>
  <div class="margin">
    <%= render_map(investment.map_location, "budget_investment", false, nil) %>
  </div>
<% end %>

<% if investment.location.present? %>
  <p>
    <%= sanitize(t("budgets.investments.show.location", location: investment.location)) %>
  </p>
<% end %>

<% if investment.organization_name.present? %>
  <p>
    <%= sanitize(t("budgets.investments.show.organization_name", name: investment.organization_name)) %>
  </p>
<% end %>

<div class="margin-bottom">
  <%= render "shared/tags", taggable: investment %>
</div>

<% if investment.external_url.present? %>
  <div class="document-link">
    <%= sanitize_and_auto_link investment.external_url %>
  </div>
<% end %>

<% if investment.organization.present? %>
  <strong><%= t("budgets.investments.show.organization") %></strong>
  <p><%= investment.organization %></p>
<% end %>

<% if investment.share_online.present? %>
  <strong><%= t("budgets.investments.show.share_online") %></strong>
  <p><%= investment.share_online %></p>
<% end %>

<% if investment.share_offline.present? %>
  <strong><%= t("budgets.investments.show.share_offline") %></strong>
  <p><%= investment.share_offline %></p>
<% end %>

<% if investment.should_show_unfeasibility_explanation? %>
  <h2><%= t("budgets.investments.show.unfeasibility_explanation") %></h2>
  <p><%= investment.unfeasibility_explanation %></p>
<% end %>

<% if investment.should_show_price_explanation? %>
  <h2 id="price_explanation" data-magellan-target="price_explanation">
    <%= t("budgets.investments.show.price_explanation") %>
  </h2>
  <p><%= investment.price_explanation %></p>
<% end %>

<% if local_assigns[:preview].nil? %>
  <div class="js-moderator-investment-actions margin">
    <%= render "budgets/investments/actions", investment: investment %>
  </div>
<% end %>
